* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* common classes */
body {
  font-family: roboto, arial, sans-serif;
  text-decoration: none;
  min-height: 140vh;
  background: #f0f0f0 ;   /* #f1f3f6; */
}

.bg{
  background-color: #f0f0f0;
}

.none {
  display: none;
}

.flex {
  display: flex;
}

.fa {
  margin: opx 4px;
}

.fa-angle-down {
  font-weight: lighter;
  margin: 0;
}

/* styling the navigation and heading */

.heading-navigation {
  background-color: #2874f0;
  height: 56px;
  position: sticky;
  top: 0;
  z-index: 2;
}

.nav-container {
  align-items: center;
  max-width: 1248px;
  margin: auto;
  width: 100%;
  position: relative;
  left: 61px;
}

.logo {
  flex-direction: column;
  width: fit-content;
}

.flip-logo {
  width: 75px;
  margin-bottom: 4px;
}

.anchor:hover {
  text-decoration: underline;
}

.anchor {
  cursor: pointer;
  text-decoration: none;
  color: whitesmoke;
  font-size: 11px;
  font-style: italic;
  margin-top: -5px;
}

.plus img {
  width: 10px;
}

.plus-text {
  color: #ffe500;
  margin: 0px 2px;
  font-weight: bold;
}

.pl {
  margin-bottom: 6px;
  margin-left: -2px;
}


.search-bar-container {
  min-width: 304px;
  width: 708px;
}

.search-bar {
  max-width: 564px;
  width: 100%;
  margin-left: 10px;
  box-shadow: 0px 2px 4px 0 rgb(0 0 0 /23%);
}

.search-box {
  outline: none;
  padding: 0px 16px;
  height: 36px;
  border-radius: 2px 0px 0px 2px;
  border: 0;
  width: 100%;
  font-size: 14px;
}

.btn-search {
  background: #fff;
  border: 1px solid #fff;
  padding: 4px 12px 4px 8px;
  width: 44px;
  height: 36px;
  cursor: pointer;
  border-radius: 0px 2px 2px 0px;
  color: #2874f0;
  font-size: 19px;
}

.login {
  position: relative;
  left: 45px;
}

.login-btn {
  color: #2874f0;
  border-radius: 2px;
  border: 1px solid #dbdbdb;
  background: #fff;
  letter-spacing: 1px;
  height: 32px;
  padding: 6px 40px;
  font-weight: bold;
  margin: opx 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
}

.more,.cart {
  position: relative;
  left: 45px;
}

.more-lan,.cart-lan {
  color: white;
  font-weight: bold;
  margin: 0px 20px;
  cursor: pointer;
  font-size: 16px;
}

.heading-categories {
  background: #fff;
  justify-content: center;
  min-height: 112px;
  border-bottom: 2px solid lightgrey;
  margin-top: 0;
}

.heading-category-list {
  list-style: none;
  max-width: 1280px;
  justify-content: space-between;
  width: 100%;
}

.heading-category-items {
  padding: 12px 8px;
  cursor: pointer;
  text-align: center;
}

.heading-category-items:hover {
  color: #2874f0;
}

.cat-image {
  height: 64px;
  width: 64px;
  margin-bottom: 3px;
}

.heading-item-name {
  font-size: 14px;
  font-weight: 525;
}

.heading-category-items:first-child {
  padding-left: 22px;
}

.heading-category-items:last-child {
  padding-right: 22px;
}

/* styling the dropdown menu */
.pointer {
  width: 20px;
  height: 20px;
  background: #fff;
  transform: rotate(45deg);
  position: relative;
  top: 10px;
  left: 50%;
}

.login-dropdown, .more-dropdown {
  position: relative;
  top: 12px;
}

.more-dropdown {
  right: 40px;
}

.login-dropdown-list, .more-dropdown-list {
  position: absolute;
  list-style: none;
  background-color: #fff;
  width: max-content;
  box-shadow: 0 4px 16px 0 rgb(0 0 0 /20%);
  min-width: 240px;
  transform: translate(-30px);
}

.login-drop-li, .more-drop-li {
  padding: 16px 20px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 14px;
  cursor: pointer;
}

.login-drop-li:last-child, .more-drop-li:last-child {
  border-bottom: none;
}

.login-drop-li:first-child {
  padding: 20px;
}

.login-drop-li:first-child:hover {
  background: #fff;
}

.login-drop-li:hover,.more-drop-li:hover {
  background: #fafafa;
}

.new-login {
  font-weight: bold;
}

.sign-li {
  justify-content: space-between;
  font-size: 14px;
}

.sign-up {
  text-decoration: none;
  color: #2874f0;
}

.more:hover .more-lan {
  position: relative;
  top: 10px;
}

.more-pointer {
  left: 80%;
}

.more-icon {
  width: 25px;
  color: #2874f0;
}

.login:hover .login-dropdown, .more:hover .more-dropdown {
  display: block;
}

.main {
  width: 100%;
  position: relative;
  margin: 14px auto;
  min-width: 978px;
  max-width: 1680px;
  padding: 8px;
}

.head-container{
  color: #212121;
  font-size: 22px;
  line-height: 32px;
  display: inline-block;
  font-weight: 500;
  padding: 18px;
  margin-bottom: 5px;

}

.timer-text{
  margin-left: 10px;
  font-size: 16px;
  color: #7f7f7f;
}

.timer-icon{
  margin-left: 25px;
}

.view-all{
  background: #2874f0;
  color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  border: none;
  padding: 10px 20px;
  font-size: 13px;
  font-weight: 500;
  position: absolute;
  right: 40px;
}

.first-row-items{
  width: 79%;
  position: relative;
  margin: 14px 0px 14px 0px;  
  padding: 8px;
}

.special-image{
  width: 361px;
  margin: 35px 0px 14px -5%;
  height: 513px;
}

/* container section */
.containers{
  background-color: #fff;
  margin: 14px auto;
}

.card{
  margin: 25px 15px;
}

.card >.card-img-top{
  height: 150px;
  width: 149px;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 1;
  margin: auto;
}

.card-title, .card-text, .card-line{
  width: auto;
  text-align: center;
}
.card-title{
  color: black;
}
.card-text{
  color: red;
}
.card-line{
  color:#16c1c7
}

/* fotter section */
.footer{
  background-color: #2874f0;
  margin-bottom: 0;
  text-align: center;
  height: 40px;
  
}

/* styling the corousal
.nav-button{
  position: absolute;
}
.corousel-btn{
  position: relative;
  border-radius: 0px 4px 4px 0px;
  font-size: 40PX;
  background: hsla(0, 0%, 100%, .98);
  width: 47px;
  height: 104px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 5px 0 rgb(0 0 0 /11%);
  cursor: pointer;
  top: 90px;
}
.prev-btn{
  left: 40px;
  margin-left: 8px;
}
.next-prev{
  font-weight: bold;
}
.corousel-2{
  border-radius: 4px 0px 0px 4px;
}
.next-btn{
  right: 40px;
  margin-right: 8px;
}
.corousel-item-container{
  margin: auto;
  max-width: 1608px;
  min-width: 978px;
  overflow-x: hidden;
  padding-top: 10px;
}
.corousel-items{
  width: 100%;
}
.corousel-image{
  width: 120%;
  height: 280px;
  padding: 8px;
} */